@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif, Helvetica;
}

.navbar {
    width: 100%;
    position: absolute;
    padding: 20px 40px;
}

.navbar .navbar-brand {
    width: 80px;
    border-radius: 50px;
}

.navbar .nav-link {
    color: #D7A2A1;
    background: #FDDCD9;
    font-size: 22px;
    text-transform: uppercase; 
    border-radius: 1px;
}

.navbar .nav-link:hover {
    color: #fddcd9;
    background: #D7A2A1;
    transition: 0.5s;
    border-radius: 1px;
}

.navbar-toggler {
    background: #fddcd9;
    color: transparent;
}

.navbar-toggler-icon {
    filter: invert(100%);
}

.banner-image {
    height: 100vh;
    background-repeat: none;
    background-size: cover; 
    background-position: center;
}

h1 {
    font-size: 7.5rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-top: 325px;
}

.banner-container {
    display: inline-block;
  }

.typed {
    overflow: hidden;
    border-right: .15em solid #4E4B4D;
    white-space: nowrap;
    animation: typing 2s steps(20, end) forwards, blink .8s infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blink {
  from { border-color: transparent }
  to { border-color: #4e4b4d}
}

.banner-content p{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-content a {
        font-size: 3rem;
        color: #fff;
        padding-left: 10px;
        cursor: pointer;
}   

h2 {
    font-size: 3.5rem;
    padding: 60px 10px;
    color: #D7A2A1;
    margin-bottom: 0px;
}

#about-me {
    padding-bottom: 60px;
    background: #212529;
    
}

.about-me p {
    font-size: 1.50rem;
    text-indent: 50px;
    padding: 0 30px;
    color: white;
}

.Tech-Skills-container {
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 5px 30px 40px 30px;
    text-transform: uppercase;

}

.projects-container {
    padding: 20px 60px; 
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

.other-projects a {
    color: #4E4B4D;
}

.other-projects a:hover {
    color: #FDDCD9;
}

.card-body .btn {
    background-image: linear-gradient(270deg, rgb(253, 220, 217), rgb(215, 162, 161));
    color: #4E4B4D;
}

.card-body .btn:hover {
    background-image: linear-gradient(270deg, rgb(215, 162, 161), rgb(253, 220, 217));
    color: #4E4B4D;
}

.card-git {
    color: #D7A2A1;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    }

    .card-git:hover {
        color: #4e4b4d;
    }

h3 {
    font-size: 1.25rem;
    padding: 30px 20px;
}

.connect p {
    color: #212529;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 30px; 
    background: #FDDCD9;
    margin-top: 0px;
    margin-bottom: 0px;
}
.social-links {
    background: #FDDCD9;
}

.social-links a {
        color: #212529;
        font-size: 40px;
        display: inline-block;
        margin: 0 10px 10px 0;
}

footer {
    color: #D7A2A1;
    cursor: pointer;
    height: 20px;
}

footer a {
    color: #D7A2A1;
}

footer a:hover {
    color: #FDDCD9;
}

.port-link {
    padding: 10px;
}


@media only screen and (max-width:1250px) {

    .navbar {
        padding: 20px 60px;
    }

    .navbar .navbar-brand {
        width: 60px;
    }

    .navbar .nav-link {
        font-size: 18px;
    }

    .card-body .btn {
        font-size: 14px;
    }
}

@media only screen and (max-width:991px) {

    .navbar-collapse {
        text-align: center;
        padding: 50px;
        border-radius: 5px;
        background-image: linear-gradient(270deg, rgb(215, 162, 161), rgb(253, 220, 217));
    }

    h1 {
        font-size: 4.75rem;
    }
}

@media only screen and (max-width:850px) {

    .navbar {
        padding: 20px 30px;
    }

    h1 {
        font-size: 4.25rem;
    }

    .card-git {
    font-size: 22px;
    padding-top: 3px;
    }
}

 @media only screen and (max-width:650px) {

    .navbar {
        padding: 20px 25px;
    }

    h1 {
        font-size: 3.25rem;
    }

    .banner-content p{
        font-size: 2.5rem;
    }
    
    .banner-content a {
            font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .container td {
        font-size: 18px;
    }
}

@media only screen and (max-width:450px) {

    h1 {
        font-size: 3.5rem;
        padding: 20px;
    }

    .about-me p {
        font-size: 1rem;
    }

    .container td {
        font-size: 15px;
    }

    .banner-content p{
        font-size: 2rem;
    }
    
    .banner-content a {
            font-size: 2rem;
    }
}
